<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - enoughArt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div class="logsign-wrapper">
        <div class="logsign-header">
            <h1>Create your account</h1>
        </div>
    
        <form action="{{url_for('signup')}}" method="POST">     <!--need a signup route for this-->
            <div class="form-field">
                <input type="text" id="username" name="username" placeholder="Username" required>
            </div>
            <div class="form-field">
                <input type="email" id="email" name="email" placeholder="Email Address" required>
            </div>
            <div class="form-field">
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>
            <button type="submit" class="logsign-button">Sign Up</button>
        </form>

        <div class="switch-form-link">
            <p>
                Already have an account?
                <a href="{{url_for('login')}}">Log in</a>   <!--Go to Login if user has account, also need route here-->
            </p>
        </div>
    </div>
</body>
</html>